body {
	color: #585858;
}

table, th, td, button, div .right, div .center {
	border: 2px solid #800080;
}

hr {
	height: 2px;
	color: #800080;
	background-color: #800080;
	border: none;
	width: 90%;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	color: #800080;
}

a:hover {
	color: #585858;
}

div .back {
	position: fixed;
  	right: 7%;
   	top: 25px;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="password"] {
	color: #585858;
	outline: 2px solid #800080;
	border: none !important;
	width: 90%;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
	outline: 2px solid #800080 !important;
	border: none;
}

input[type="checkbox"] {
	outline: 2px solid #800080;
	border: none !important;
	margin-right: 10px;
}

input[type="checkbox"]:checked {
	outline: 2px solid #800080;
	border: none !important;
}

select {
	color: #800080;
	outline: 2px solid #800080;
	border: none;
}

select:focus {
	outline: 2px solid #800080;
	border: none;
}

button {
	color: #800080;
	background-color: white;
	width: 30%;
	text-align: center;
	padding: 0;
}

button:hover {
	color: #585858;
	border: 2px solid #585858;
}

.small-btn {
	width: 20%;
}

::placeholder {
  	color: #800080;
}

div .center {
	margin: auto;
	width: 60%;
}

div .left {
	width: 26%;
	float: left;
}

div .right {
	width: 60%;
	float: right;
	padding-right: 10%;
}

div .row {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 6%;
}

h4 {
	margin-left: 7%;
	margin-top: 20px;
}

div .centered-text {
	text-align: center;
}

label {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 7%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

ul {
	list-style: none;
	border: 2px solid #800080;
	width: 80%;
	margin-left: 6%;
	padding-top: 10px;
	height:100px;
	overflow-y:scroll;
}

li {
	color: #800080;
	border-bottom: 2px solid #800080;
	width: 90%;
	margin-left: 6%;
	font-size: 13px;
}

li > label {
	margin: 0;
}

::-webkit-scrollbar {
	border-left: 2px solid #800080;
  	-webkit-appearance: none;
  	width: 15px;
  	padding-top: 0;
}

::-webkit-scrollbar-thumb {
	margin-top: 0;
	padding-top: 0;
  	border-radius: 4px;
  	border: 2px solid transparent;
  	border-right: none;
  	background-color: rgba(128, 0, 128, 0.4);
  	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(128, 0, 128, 0.6);
}

::-webkit-scrollbar-button:vertical:start:decrement{
	display: block;
	background-size: 70%;
	background-image: url(scrollbar/arrow-up.png);
	background-repeat: no-repeat;
	background-position: 3px 5px, 0 0;
}

::-webkit-scrollbar-button:vertical:end:increment{
	display: block;
	background-size: 70%;
	background-image: url(scrollbar/arrow-down.png);
	background-repeat: no-repeat;
	background-position: 3px 5px, 0 0;
}

::-webkit-scrollbar-button:vertical:start:decrement:hover{
	background-image: url(scrollbar/arrow-up-hover.png);
}

::-webkit-scrollbar-button:vertical:end:increment:hover{
	background-image: url(scrollbar/arrow-down-hover.png);
}

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 2px solid #800080;
}

.custom-checkbox:hover input ~ .custom-checkmark {
  background-color: rgba(88,88,88, 0.4);
}

.custom-checkbox input:checked ~ .custom-checkmark {
  background-color: white;
}

.custom-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .custom-checkmark:after {
  display: block;
}

.custom-checkbox .custom-checkmark:after {
  left: 7px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid #800080;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
} 